
/*
	@font

*/
a
{
	color:#22bce0;
}

body
{
	background-color: #eee;
	font-family:"Open Sans";
	font-size: 16px;
}
header
{
	background-color: #343b54;
	/*border:1px solid red;*/
	color:white;
	padding: 0.5em;
	overflow: hidden;
}
header #logo img{
	margin-right: 0.5em;
	-webkit-transition:.1s;
	width: 52px;
	padding-right: 0.5em;
	-webkit-rotate(360deg);
}
header #logo img:hover{
	-webkit-rotate(360deg);
	-webkit-transition:.1s;
}

header figure
{
	float: left;
	
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin:0 70px 0 0;
/*	border: 1px solid red;*/
}
header #avatar{
	position: absolute;
	margin:0.5em 0.5em 0 0;
	right: 0;
	top: 0;

}
header #logo img
{
	width: 70px;
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;

}

header #avatar img
{
	width:55px;
	border-radius:50%;
}
nav{
	background-color: #7488cd;
	
	position: relative;
	box-shadow: rgba(0,0,0,0.5) 10px 10px 10px;
	padding: 0 5em 0 0;
}
nav ul{
	list-style: none;
	margin:0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	margin: 0.1em 0 0 ;
}
nav ul #publicar_nav{
	/*border: 1px solid red;*/
	position: absolute;
	top:-0.3em;
	right: 0;

}

nav ul li a{
	color:white;
	display: block;
	padding: 0.5em;
	-webkit-transition:.3s;
	trasition:.3s;
}

nav ul #publicar_nav a{
	background-color: #22bce0;
	padding: 0.8em 0.5em;
	text-decoration: none;
	border-radius: 5px;
	font-style: italic;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
	box-shadow:rgba(0,0,0,0.5) 2px 2px 20px;
}
nav ul li a:hover{
	background-color: red;
}
nav ul #publicar_nav a:hover{
	box-shadow: 0 0 30px yellow;

}

nav ul #publicar_nav a.disabled {
	background-color: gray;
	cursor: pointer;
	box-shadow: none;

} 

footer{
	background-color: #22bce0;
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding:1em;
}
footer p:first-child{
	margin-bottom: 0;
}
footer p:last-child{
	margin-top: 0px;
}
footer p:last-child:before{
	content: "- ";
}
footer p:last-child:after{
	content: " -";
}
#contenido{
	margin: 1em;
}
#contenido .item .autor_item{
	color:#aaa;
}
#contenido .item .datos_item{
	text-align: right;
	margin: 1em 1em 0 0;
}
#contenido .item .datos_item  .tag_item{
	background-color: #f4502a;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	float: left;
}
#contenido .item{
	background-color: white;
	border-bottom: 3px solid #22bce0;
	position: relative;
	min-height: 128px;
	margin-bottom: 2em;
}
#contenido .item .imagen_item{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img{
	width:96px;
}
#contenido .item .titulo_item{
	font-size: 1.2em;
	font-style: italic;
	padding-top: 1em;
}
#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;
}
#contenido .item .datos_item fecha_item{
	color:#aaa;
}
#contenido .item .votacion{
	background-color: white;
	/*border: 1px solid red;*/
	left: 5%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	position: absolute;
	top: 100%;
	width: 80%;
	border-radius: 0px 0px 0.5em 0.5em;
}
#contenido .item .guardar_item{
	float: right;
}
.votacion a{
	text-decoration: none;
}
aside{
	display: none;
}
@media print{
	body{
		font-size: 50px;
	}
}
@media screen and (min-width:800px){
	body{
		/*background-color: red;*/
	}
	#contenido{
		overflow: hidden;;
	}
	#contenido .item{
		width: 49%;
		float: left;
		margin-right:1%;
		display: inline-block;
		/*overflow: hidden;*/
	}
	#contenido .item:nth-child(odd){
		/*background-color: red;*/
		margin-right: 1%;
	}
}
@media screen and (min-width:1000px){
	aside{
		display: block;
		float: right;
		margin: 1em;
		width: 20%
		
	}
	aside video{
		width: 100%;
	}
}	

/* formulario*/
.formulario{
	padding: 1em;
	text-align: right;
	display: none;
}
.formulario input{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.2em 0.6em;
}
.formulario input[type="submit"]{
	background-color: #22bce0;
	border-color: #22bce0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
	color: white;
}
